table{
    background-color: #353A4B;
    color:#E8E8E8;
    font-size: large;
    margin: 15px 50px;
}

td{
    text-align: left;
    border: 1px solid #ddd;
    padding: 10px;
}

#b1{
    background-image: url("../assets/images/b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

#b2{
    background-image: url("../assets/images/b2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

#Droideka{
    background-image: url("../assets/images/Droideka.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}